<h4 class="text-center" >Registre e mostre seu PET pro mundo!</h4>

<!-- Reactive Forms-->
<form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()" #formDir="ngForm">
    <div class="form-group">
        <input 
            placeholder="E-mail" 
            class="form-control"
            formControlName="email"
        >
        <div *ngIf="email.invalid && formDir.submitted || email.touched">  
            <app-mensagem *ngIf="email.errors?.['required']" mensagem="E-mail é obrigatório"></app-mensagem>
            <app-mensagem *ngIf="email.errors?.['email']" mensagem="E-mail inválido"></app-mensagem>
        </div>    
    </div>
    <div class="form-group">
        <input 
            placeholder="Nome completo" 
            class="form-control"
            formControlName="fullName"
        >
        <div *ngIf="fullName.invalid && formDir.submitted || fullName.touched">
            <app-mensagem *ngIf="fullName.errors?.['required']" mensagem="Nome é obrigatório"></app-mensagem>                 
        </div>
    </div>
    <div class="form-group">
        <input 
            laceholder="Usuário" 
            class="form-control"
            formControlName="userName"
        >
        <div *ngIf="userName.invalid && formDir.submitted || userName.touched">  
            <app-mensagem *ngIf="userName.errors?.['required']" mensagem="Usuário é obrigatório"></app-mensagem>
            <app-mensagem *ngIf="userName.errors?.['usuarioExistente']" mensagem="Nome já existe"></app-mensagem>
        </div> 
    </div>
    <div class="form-group">
        <input 
            type="password" 
            placeholder="Senha" 
            class="form-control"
            formControlName="password"
        >
        <div *ngIf="password.invalid && formDir.submitted || password.touched">
            <app-mensagem *ngIf="password.errors?.['required']" mensagem="Senha é obrigatória"></app-mensagem>                 
        </div>
    </div>    
    <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário?<a [routerLink]="['']"> Faça Login!</a></p>